body {
    font-family: "Rockwell";
    margin: 0;
}

.nav {
    background-color: #253031;
    overflow: hidden;
    display: flex;
}

.nav a{
    float: left;
    color: #F2FBE0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.nav a:hover {
    background-color: #315659;
    color: white;
}

.topnav a.active {
    background-color: #FC9F5B;
    color: white;
}

.body {
    margin: 8px;
}

.ingredient-cat button {
    background: none;
    border: none;
    margin: 16px 0 0;
    padding: 0;
    font-size: 18px;
    font-family: Georgia;
}

#updateRecipies {
    background-color: #315659;
    color: white;
    padding: 5px;
    margin-top: 40px;
    border-radius: 10px;
}

.ingredients {
    overflow: hidden;
}

#ingredientsM, #ingredientsV, #ingredientsDE, #ingredientsGS, #ingredientsSS, #ingredientsO {
    display: none;
    height: 0;
    transition: transform 0.5s, display 0.5s, height 1s;
    transition-behavior: allow-discrete;
    transform: translateY(-100%);
    overflow: hidden;
}

#ingredientsM.showB, #ingredientsV.showB, #ingredientsDE.showB, #ingredientsGS.showB, #ingredientsSS.showB, #ingredientsO.showB {
    display: block;
    height: auto;
    transform: translateY(0%);

    @starting-style {
        transform: translateY(-100%);
        height: auto;
    }
}

.recipies > div {
    margin: 1em;
    border: 2px solid #253031;
    border-radius: 2em;
    overflow: hidden;
}

.recipies > div h2 {
    background-color: #F2FBE0;
    padding: 0.83em 1em;
    margin-top: 0;
    border-bottom: 1px solid #253031;
}

.recipies > div p {
    padding: 0 1em;
    margin-bottom: 0;
}

.recipies > div ul, .recipies > div ol {
    padding: 0 2em;
    margin-top: 0;
}

.recipies > div.showIngredient {
    display: none;
}